.centered-container
  = form_for (@user = (@user ? @user : User.new)), authenticity_token: true, html: {:class => "form form-horizontal"} do |f|
    %br
    %br
    %h4=t('modules.register.new_password')
    .field
      .icon
        %i.fa.fa-key
      .col-lg-12
        = f.password_field :password, :placeholder => t('placeholders.user.password'), :class => 'form-control'
    .field
      .icon
        %i.fa.fa-lock
      .col-lg-12
        = f.password_field :password_confirmation, :placeholder => t('placeholders.user.password_confirmation'),   :class => 'form-control'
    .field
      .icon
      .col-lg-12
        = f.submit @user.id ? t('modules.register.btn_pass') : t('modules.register.btn'), :class => 'btn btn-default'
