// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.email{
	font-size: 15px;
	.panel-body, .email-body{
		padding: 15px;
		min-height: 200px;
		max-height: 250px;
		overflow: auto;
	}
}